<template>
   <v-container>
      <v-layout row>
         <v-flex xs12 sm4 offset-sm4>
            <h1 class="text--secondary my-3">Create new add</h1>
            <v-form ref="form" v-model="valid" validation class="mb-3">
               <v-text-field
                  name="title"
                  label="Ad title"
                  type="text"
                  v-model="title"
                  :rules="[v => !!v || 'Title is required']"
                  required
               ></v-text-field>
               <v-textarea
                  name="description"
                  label="Ad description"
                  type="text"
                  v-model="description"
                  :rules="[v => !!v || 'Description is required']"
                  multi-line
               ></v-textarea>
            </v-form>
            <v-layout row class="mb-3">
               <v-flex xs12>
                  <v-btn color="blue-grey" class="white--text" large @click="triggerUpload">
                     Upload
                     <v-icon right dark>cloud_upload</v-icon>
                  </v-btn>
                  <input
                     ref="fileInput"
                     type="file"
                     style="display:none"
                     accept="image/*"
                     @change="onFileChange"
                  >
               </v-flex>
            </v-layout>
            <v-layout row>
               <img :src="imageSrc" alt="*" height="100" v-if="imageSrc">
            </v-layout>
            <v-layout class="mb-2">
               <v-switch
                  v-model="promo"
                  label="Add to promo?"
                  color="primary"
               ></v-switch>
            </v-layout>
            <v-layout>
               <v-btn
                  :loading="loading"
                  class="success"
                  large
                  @click="createAd"
                  :disabled="!valid || !image || loading"
               >Create ad</v-btn>
            </v-layout>
         </v-flex>
      </v-layout>
   </v-container>
</template>

<script>
export default {
   data() {
      return {
         title: '',
         description: '',
         promo: false,
         valid: false,
         image: null,
         imageSrc: ''
      }
   },
   computed: {
      loading() {
         return this.$store.getters.loading
      }
   },
   methods: {
      createAd() {
         if (this.$refs.form.validate() && this.image) {
            const ad = {
               title: this.title,
               description: this.description,
               promo: this.promo,
               image: this.image
            }

            this.$store.dispatch('createAd',ad)
            .then(() => {
               this.$router.push('/list')
            })
            .catch(() => {})
         }
      },
      triggerUpload () {
        this.$refs.fileInput.click()
      },
      onFileChange (event) {
        const file = event.target.files[0]

        const reader = new FileReader()
        reader.onload = () => {
          this.imageSrc = reader.result
        }
        reader.readAsDataURL(file)
        this.image = file
      }
   }
}
</script>